/* Body Style */

body {
  background-color: aquamarine;
  margin: 0;
  text-align: center;
}

/* --------------------------------------------------------------- */

/* Banner Style */

.header {
  background-color: cadetblue;
}

/* Banner Text */

.my-name {
  margin-top: 0;
}

/* We will add an underline to the "pro" in programmer. And in order to do it, we'll have to use the "span" */

.pro {
  text-decoration: underline;
}

/* --------------------------------------------------------------- */


/* Banner Images */

/* --------------------------------------------------------------- */


